@import "tailwindcss";

:root {
  /* KlokMat boje */
  --klokmat-yellow: #F0C54A;  
  --klokmat-yellow-light: #FFE89C;  
  --klokmat-yellow-dark: #D4A63A; 
  
  --klokmat-red: #C74A3C;
  --klokmat-red-light: #FFE8E5;
  --klokmat-red-dark: #A83D30;
  
  --klokmat-cream: #FFF3D4;  
  --klokmat-text: #2D2D2D;
}

html, body {
  height: 100%;
}